@model WebRaport.Models.RaportModel

@{
    ViewData["Title"] = "Изменить рапорт";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form asp-action="Edit">
                        <div class="form-group">
                            <input type="hidden" asp-for="RaportId" />
                            <input class="input" type="text" asp-for="RaportFilePath" style="{width: auto}" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-sm" asp-controller="FileManager" asp-action="Index" asp-route-id="@Model.RaportId">Установить путь к шаблону рапорта</button>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Сохранить" class="btn btn-outline-dark" />
                            <a class="btn btn-outline-dark" asp-controller="Raports" asp-action="Index">Отменить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

