@using GleamTech.AspNet.Core
@using GleamTech.FileUltimate.AspNet.UI
@model WebRaport.ViewModels.SetPathToRaportViewModel

@section LayoutHead {
    @this.RenderHead(Model.fileManager)
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Установить путь к рапорту</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12">
                    <form asp-action="SetPathToRaport">
                        <input type="hidden" asp-for="@Model.PathToRaportFile" />
                        <input type="hidden" asp-for="@Model.RaportId" />
                        <div class="form-group">
                            <div id="partialViewContainer">
                                @await Html.PartialAsync("OnlyFileManagerView", Model.fileManager)
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Установить" class="btn btn-outline-dark" />
                            <a class="btn btn-outline-dark" asp-action="BackToRaportCreate" asp-route-id="@Model.RaportId">Отменить</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

