@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate.AspNet.UI
@model DocumentViewer

<div id="dialogDiv" class="modal fade">
    <div id="dialogContent" class="modal-dialog">
        <div class="modal-content">
            <form method="post" class="note-modal-form">
                <div class="modal-header">
                    <h3 id="myModalLabel">Подтверждение</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <p>Привет!!!</p>
                    <div id="partialViewContainer">
                        @await Html.PartialAsync("DocumentViewerPartialView", Model)
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal">Продолжить</button>
                    <button class="btn btn-primary" data-save="modal">Начать заново</button>
                </div>
            </form>
        </div>
    </div>
</div>

