@page
@model WebRaport.Pages.RaportsHandler.VacationRaportPageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VacationRaportPage</title>
</head>
<body>
</body>
</html>
