@{
    ViewData["Title"] = "Доступ закрыт";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <p class="login-box-msg">У вас нет доступа к данному ресурсу!</p>
                </div>
            </div>
        </div>
    </div>
</div>

