
@model WebRaport.ViewModels.UsersAndRaportsViewModel

@{
    ViewData["Title"] = "Главная панель";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <form asp-action="Index">
                    <div class="form-group">
                        <label class="form-check-label">Список пользователей</label>
                        <select asp-for="UserId" class="form-control" asp-items="@Model.UsersList"></select>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">Список пользователей</label>
                        <select asp-for="RaportId" class="form-control" asp-items="@Model.RaportsList"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Настроить" class="btn btn-outline-dark" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
